<div class="section-portfolio">
  <div class="container">
    <div class="tabs-wrapper">
      <ul class="tabs">
        <li class="tabs__item active">
          <a href="#" class="tabs__link">All</a>
        </li>
        <li class="tabs__item">
          <a href="#" class="tabs__link">3D</a>
        </li>
        <li class="tabs__item">
          <a href="#" class="tabs__link">Illustration</a>
        </li>
        <li class="tabs__item">
          <a href="#" class="tabs__link">Photography</a>
        </li>
        <li class="tabs__item">
          <a href="#" class="tabs__link">Web</a>
        </li>
      </ul>
    </div>
    
  </div>
</div>