<div class="section section-footer">
  <div class="container">
    <div class="footer__wrapper">
      <ul class="footer__list footer__list__about">
        <li class="footer__list__item">
          <h4>Shortly About Us</h4>
        </li>
        <li class="footer__list__item">
          <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. Suspendisse sollicitudin velit sed leo.</p>
        </li>
      </ul>  
      <ul class="footer__list footer__list__contact">
        <li class="footer__list__item">
          <a href="#" class="footer__list__link">
            <h4>Contact Us</h4>
          </a>
        </li>
        <li class="footer__list__item">
          <a href="#" class="footer__list__link">
            <span class="phone modify"></span>
            <span>(123)-456-7890</span>
          </a>
        </li>
        <li class="footer__list__item">
          <a href="#" class="footer__list__link">
            <span class="mail modify"></span>
            <span>info@companyname.com</span>
          </a>
        </li>
        <li class="footer__list__item">
          <a href="#" class="footer__list__link">
            <span class="skype modify"></span>
            <span>skype.name</span>
          </a>
        </li>
      </ul>
      <ul class="footer__list footer__list__location">
        <li class="footer__list__item modify">
          <a href="#" class="footer__list__link">
            <span class="maps modify"></span>
            <span>8901 Marmora Road, <br>Glasgow, D04 89GR.</span>
          </a>
        </li>
        <li class="footer__list__item">
          <a href="#" class="footer__list__link">
            <span class="btn">Open in Google Maps</span>
          </a>
        </li>
      </ul>
      <ul class="footer__list footer__list__social">
        <li class="footer__list__item modify">
          <h4>Stay Connected</h4>
        </li>
        <ul class="list-wrapper">
          <li class="footer__list__item">
            <a href="#" class="footer__list__link">
              <span class="facebook social-icon"></span>
            </a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__list__link">
              <span class="twitter social-icon"></span>
            </a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__list__link">
              <span class="google social-icon"></span>
            </a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__list__link">
              <span class="pinterest social-icon"></span>
            </a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__list__link">
              <span class="dribbble social-icon"></span>
            </a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__list__link">
              <span class="flickr social-icon"></span>
            </a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__list__link">
              <span class="youtube social-icon"></span>
            </a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__list__link">
              <span class="vimeo social-icon"></span>
            </a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__list__link">
              <span class="instagram social-icon"></span>
            </a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__list__link">
              <span class="linkedin social-icon"></span>
            </a>
          </li>
        </ul> 
      </ul >
    </div>
  </div>
</div>